<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css?v=3') }}">  -->
<!--    <link rel="stylesheet" href="../static/css/style.css?v=3" type="text/css" />  -->
    <title>Stock Smart</title>
    <style>
	.with, .without {
		width: 700px;
		height: 120px;
		border: 2px solid red;
		margin-left: 15px;
		
	}
    </style>
</head>

<body>
   
{% extends 'base.html' %}

{% block content %}
<h2>Types of Investments</h2>
<p>Choose the type of stock you would like to invest in. There are no wrong choices!</p>

<form method="post" name="myForm" onsubmit="return validateForm()">

	<div class="form-group" style="display:inline-block">    
	    <div class="bonus" >   	   
            	<input type="radio" id="dividend" name="dividend" value="dividend" 
			style="float:left" onclick="myFunction(this.value)" >
            	<label for="dividend" class="with">Dividend--<br> Dividend stocks are great for beginners. 
			This type of stock are low risk. Depending on which company you invest in, 
                        you will receive $$$ every quarter. Because these are low risk stocks and more stable, 
                        they are good for long term plans. Short term gains are low, but it adds up!</label>
	    </div><br>
	    
	    <div class="nonbonus">
            	<input type="radio" id="undividend" name="dividend" value="without dividend" style="float:left"
			onclick="myFunction(this.value)" >
            	<label for="undividend" class="without">Without Dividend--<br> 
			Stocks without dividend are for the risk takers.Depending on which company you invest in, 
			you can earn a lot really fast or lose a lot really fast. It's a gamble!</label>
	    </div>
       	</div><br>
    
	Your favorite option is: <input type="text" id="result" name="result" >
	<a href="display">
		<input type="submit" value="Submit form">
	</a>
	
</form>
	<a href="{{ url_for('advice') }}">
        	<button type="submit" class="btn btn-primary">Go Back</button>  
		
	<script>
		function myFunction(dividend) {
			document.getElementById('result').value=dividend;

		}

		function validateForm() {
			var x = document.forms["myForm"]["result"].value;
			if ( x == "" ) {
				alert("Invalid submit!");
				return false;
			} else {
				return true;
			}
		}
</script>
{% endblock %}
</body>
</html>
